[submodule "bootloader/lib/tiny-AES-c"]
	path = bootloader/lib/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "bootloader/lib/mbedtls"]
	path = bootloader/lib/mbedtls
	url = git@github.com:ARMmbed/mbedtls.git
